<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">

    <title>Document</title>
</head>
<body>
    <h2>Index page</h2>
    <a href="sec">next page</a>
    <form action="" method="post">
    <input type="text" name="name" id="" placeholder="name">
    <input type="number" name="age" id="" placeholder="age">
    <input type="email" name="email" id="" placeholder="email">
    <input type="submit" value="add">
    </form>
<div>
    <img src="{{ url_for('static',filename='njr.webp')}}" style="height: 200px; width: 200px;" alt="">
    </div>
</body>
</html>